
@{
    ViewBag.Title = "Add";
}

<h2>添加新闻</h2>
<form action="/Home/Save" method="post" >
    <table class="table table-bordered">
        <tr>
            <td>标题：</td>
            <td><input type="text" name="Title" value="" class="col-md-6"/></td>
        </tr>
        <tr>
            <td>内容：</td>
            <td>
                <textarea name="Content" cols="60" rows="6"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-primary">保存</button>
                <button type="reset" class="btn btn-warning">取消</button>
            </td>
        </tr>
    </table>
</form>
