
@{
    ViewBag.Title = "AddArticle";
}

<h2>添加博客文章</h2>


<form action="/Blog/ArticleSave" method="post">
    <table class="table table-bordered">
        <tr>
            <td>标题：</td>
            <td><input type="text" name="Subject" value="" />  </td>
        </tr>
        <tr>
            <td>内容</td>
            <td>
                <textarea name="Body" cols="60" rows="4"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-primary">保存</button>
                <button type="reset" class="btn btn-warning">取消</button>
            </td>
        </tr>

    </table>
</form>

